<div class="container">
  <h1>
    Hello World!
  </h1>
  
  <p>
    <span>
      
      <a href="/songs/1">Name: Song 1</a>, <a href="artists/2">artist: artist 2</a>, genre: genre 3
      
    </span>
  </p>
  
  <span id="span1">
    <b>hello 1</b>
  </span>
  
  <span>
    <em>hello 2</em>
  </span>
  
  <ul>
    <li>
      item 1
    </li>
    <li>
      item 2
    </li>
  </ul>
  
  <ol>
    <li>
      item 1
    </li>
    <li>
      item 2
    </li>
  </ol>
  
</div>